<main>
    {{#each art}}
        <li><a href="/artworks/{{this.id}}">{{this.title}}</a></li>
        <img src={{this.artwork}}>
        <p>By {{this.artist.name}}</p>
        <a href={{this.license.url}}>{{this.license.name}}</a>
    {{/each}}
</main>